*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
    justify-content: center;
}


ul{
    background-color: #60807E;
}


body{
    background: black;
}

h1{
    color: white;
}

h2{
    color: white;
    margin-top: 10px;
}


p{
    color: white;
}

label{
    color: white;
}

img{
    width: 100%;
}

.biografia{
    text-align: justify;
}
.row{
    
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 50%;
    padding: 10px;
}
 .column img{
    margin-top: 10px;
 }

#galeria .col-lg-4{
    margin: 0;
    padding: 25px;
}

#galeria img{
    width: 100%;
}

#galeria img:hover{
    border: 15px solid #0000;
}

#discos .col-lg-4{
    margin: 0;
    padding: 25px;
}

#discos img{
    width: 100%;
}

#historia .col-lg-6{
    margin: 0;
    padding: 25px;
}

#historia img{
    width: 100%;
}

#historia img:hover{
    border: 10px solid #0000;
}

 .footer{
    background-color: #60807E;
    color: white;
}

 @media (max-width: 600px){
    .column{
        flex: 100%;
    }
 }






